/*variables*/
@import '/src/assets/scss/core/variables';
/*fonts*/
@import '/src/assets/scss/core/fonts';
/*components*/
@import '/src/assets/scss/components/index';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

button,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: transparent;
}

#root {
}

body {
  font-family: $font-stack-primary;
  font-size: $font-size-primary;
  line-height: $line-height-primary;
  background: $bg-color;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  @media (max-width: 1000px) {
    max-width: calc(100% - 50px);
  }
}

/*Section Header*/

.header {
  padding: 30px 15px;
  @media (max-width: 1000px) {
    padding: 30px 0px;
  }
  &__wrapper {
    max-width: 1350px;
    display: flex;
    align-items: center;
    @media (max-width: 1000px) {
      max-width: calc(100% - 50px);
    }
  }
  &__logo {
    &-container {
      margin-right: auto;
    }
  }
  &__burger {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 20px;
    z-index: 1001;
    cursor: pointer;
    &-line {
      position: absolute;
      width: 30px;
      height: 2px;
      background: $primary-color;
      transition: transform 0.3s ease-in, background-color 0.3s ease-in;
      &_1 {
        top: 0;
      }
      &_2 {
        top: 50%;
        transition: transform 0.25s ease-in, opacity 0.25s ease-in;
      }
      &_3 {
        top: 100%;
      }
    }

    &.--open {
      .header__burger-line {
        background-color: $light-color;
        @media (max-width: 620px) {
          background-color: $primary-color;
        }
        &_1 {
          transform: rotate(45deg) translate(7px, 7px);
        }
        &_2 {
          transform: translateX(100%);
          opacity: 0;
        }
        &_3 {
          transform: rotate(-45deg) translate(7px, -7px);
        }
      }
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    &_mob {
      position: fixed;
      z-index: 1000;
      width: 40vw;
      height: 100vh;
      background: $light-color;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      border-right: 2px solid $bg-color-purple;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in;
      overflow: auto;
      padding: auto;
      @media (max-width: 1000px) {
        padding: 15px 0;
      }
      @media (max-width: 620px) {
        width: 100vw;
        border-right: none;
        padding: 70px 0;
        font-size: 20px;
      }
      .header__navigation,
      .header__contacts,
      .header__socials {
        flex-direction: column;
        margin: 0;
        &::after {
          display: none;
        }
      }
    }
    &_mob.--open {
      transform: translateX(0);
      padding: 15px 0;
      @media (max-width: 620px) {
        width: 100vw;
        padding: 70px 0;
      }
      + .header__overlay {
        backdrop-filter: brightness(0.5);
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
      }
    }
  }
  &__overlay {
    backdrop-filter: brightness(1);
    transition: backdrop-filter 0.3s ease-in;
  }
  &__navigation {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 65px;
    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      background: $color-purple;
      top: 17px;
      right: -35px;
    }
    &-item {
      position: relative;
      padding: 10px 15px;
      cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 1px;
        background: $color-purple;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%) translateY(35px);
        transition: transform 0.25s ease-in, opacity 0.25s ease-in;
      }
      &:hover {
        &::after {
          transform: translateX(-50%) translateY(25px);
          opacity: 1;
        }
      }
    }
  }
  &__contacts {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 65px;
    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      background: $color-purple;
      top: 17px;
      right: -35px;
    }
    &-item {
      position: relative;
      padding: 10px 15px;
      cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 1px;
        background: $color-purple;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%) translateY(35px);
        transition: transform 0.25s ease-in, opacity 0.25s ease-in;
      }
      &:hover {
        &::after {
          transform: translateX(-50%) translateY(25px);
          opacity: 1;
        }
      }
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    &-logo {
      &-container {
        display: flex;
        padding: 10px 10px;
        cursor: pointer;
        & svg {
          transition: fill 0.3s ease-in;
        }
        &:hover {
          & svg {
            fill: $color-purple;
          }
        }
      }
    }
  }
}

/*Intro Section*/

.intro {
  padding: 60px 0 160px;
  @media (max-width: 768px) {
    padding: 30px 0 230px;
  }
  @media (max-width: 500px) {
    padding: 15px 0 230px;
  }
  background: $bg-color;
  overflow: hidden;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image {
    $coeff: 1.2;
    &:nth-child(1) {
      $startWidth1: 250px;
      $startHeight1: 569px;
      position: absolute;
      z-index: 1;
      top: -5%;
      right: -30%;
      width: $startWidth1;
      height: $startHeight1;
      @media (max-width: 1100px) {
        width: $startWidth1/$coeff;
        height: $startHeight1/$coeff;
      }
      @media (max-width: 900px) {
        width: $startWidth1/($coeff * $coeff);
        height: $startHeight1/($coeff * $coeff);
      }
      @media (max-width: 620px) {
        width: $startWidth1/($coeff * $coeff * $coeff);
        height: $startHeight1/($coeff * $coeff * $coeff);
        top: -10%;
        right: -10%;
      }
      @media (max-width: 500px) {
        width: $startWidth1/($coeff * $coeff * $coeff * $coeff);
        height: $startHeight1/($coeff * $coeff * $coeff * $coeff);
      }
      @media (max-width: 390px) {
        width: $startWidth1/($coeff * $coeff * $coeff * $coeff * $coeff);
        height: $startHeight1/($coeff * $coeff * $coeff * $coeff * $coeff);
      }
    }
    &:nth-child(2) {
      $startWidth2: 435px;
      $startHeight2: 525px;
      position: absolute;
      z-index: 2;
      top: 13%;
      right: -5%;
      width: $startWidth2;
      height: $startHeight2;
      @media (max-width: 1100px) {
        width: $startWidth2/$coeff;
        height: $startHeight2/$coeff;
      }
      @media (max-width: 900px) {
        width: $startWidth2/($coeff * $coeff);
        height: $startHeight2/($coeff * $coeff);
      }
      @media (max-width: 620px) {
        width: $startWidth2/($coeff * $coeff * $coeff);
        height: $startHeight2/($coeff * $coeff * $coeff);
        right: -5%;
      }
      @media (max-width: 500px) {
        width: $startWidth2/($coeff * $coeff * $coeff * $coeff);
        height: $startHeight2/($coeff * $coeff * $coeff * $coeff);
      }
      @media (max-width: 390px) {
        width: $startWidth2/($coeff * $coeff * $coeff * $coeff * $coeff);
        height: $startHeight2/($coeff * $coeff * $coeff * $coeff * $coeff);
      }
    }
    &:nth-child(3) {
      $startWidth3: 650px;
      $startHeight3: 647px;
      position: inherit;
      z-index: 3;
      left: -25%;
      width: $startWidth3;
      height: $startHeight3;
      @media (max-width: 1100px) {
        width: $startWidth3/$coeff;
        height: $startHeight3/$coeff;
      }
      @media (max-width: 900px) {
        width: $startWidth3/($coeff * $coeff);
        height: $startHeight3/($coeff * $coeff);
      }
      @media (max-width: 620px) {
        width: $startWidth3/($coeff * $coeff * $coeff);
        height: $startHeight3/($coeff * $coeff * $coeff);
        left: -5%;
        bottom: -100px;
      }
      @media (max-width: 500px) {
        width: $startWidth3/($coeff * $coeff * $coeff * $coeff);
        height: $startHeight3/($coeff * $coeff * $coeff * $coeff);
      }
      @media (max-width: 390px) {
        width: $startWidth3/($coeff * $coeff * $coeff * $coeff * $coeff);
        height: $startHeight3/($coeff * $coeff * $coeff * $coeff * $coeff);
      }
    }
    &-container {
      position: relative;
    }
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 72px;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 65px;
    font-family: $font-stack-secondary;
    font-size: $font-size-secondary;
    line-height: $line-height-secondary;
    text-transform: uppercase;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 30px;
    }
    &-text {
      &:nth-child(1) {
        margin-right: 30px;
      }
    }
    &-icon {
      margin-right: 30px;
    }
  }
  &__subtitle {
    max-width: 1035px;
    font-family: $font-stack-tertiary;
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 35px;
    @media (max-width: 768px) {
      font-size: 55px;
      line-height: 55px;
    }
    @media (max-width: 425px) {
      font-size: 40px;
      line-height: 40px;
    }
  }
  &__text {
    max-width: 780px;
    font-family: $font-stack-primary;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
    @media (max-width: 500px) {
      margin-bottom: 20px;
    }
    @media (max-width: 425px) {
      font-size: 16px;
    }
  }
  &__buttons {
    display: flex;
    .button-container {
      @media (max-width: 500px) {
        margin: 0;
      }
    }
    @media (max-width: 500px) {
      flex-direction: column;
      gap: 10px;
    }
  }
}

/*Promo Section*/

.promo {
  padding: 300px 0 120px;
  background: $bg-color-blue;
  overflow: hidden;
  @media (max-width: 1440px) {
    padding: 120px 0;
  }
  @media (max-width: 500px) {
    padding: 60px 0;
  }
  &__wrapper {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @media (max-width: 1440px) {
      margin: 0 auto;
      max-width: calc(100% - 50px);
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../assets/images/promo-plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $bg-color-purple;
    z-index: 50;
    border-radius: 0 0 50% 0;
    z-index: 999;
    cursor: pointer;
    transition: width 0.5s ease-in, height 0.5s ease-in, opacity 0.3s ease-in,
      border-radius 0.5s ease;
    @media (max-width: 500px) {
      width: 100px;
      height: 100px;
      font-size: 15px;
    }
    @media (max-width: 400px) {
      width: 80px;
      height: 80px;
    }
    &.--active {
      width: 100%;
      height: 100%;
      background: none;
      background-color: rgba(162, 148, 255, 0.6);
      color: rgba(255, 255, 255, 1);
      padding: 5rem;
      @media (max-width: 500px) {
        padding: 1rem;
      }
      transition: width 0.4s ease-in, height 0.4s ease-in,
        opacity 0.3s ease-in 1s, color 0.3s ease 0.5s, border-radius 0.5s ease;
      border-radius: 0;
    }
  }

  &__image {
    transition: transform 0.5s ease-in;
    z-index: 5;
    &-container {
      position: relative;
      overflow: hidden;
      z-index: 5;
      opacity: 0;
      transition: transform 1.5s ease, opacity 0.5s ease-in;

      &:nth-child(2n) {
        margin-top: -160px;
      }
      &:last-child {
        margin-bottom: 160px;
      }
      @media (max-width: 1440px) {
        margin: 0;
        &:nth-child(2n) {
          margin: 0;
        }
        &:last-child {
          margin: 0;
        }
        :nth-child(3n) {
          align-self: flex-end;
        }
      }
      &:hover {
        .promo__image {
          transform: scale(105%);
        }
      }
    }
  }
}
/*Solutions Section*/

.solutions {
  padding: 120px 0;
  @media (max-width: 500px) {
    padding: 60px 0;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    @media (max-width: 1200px) {
      max-width: calc(100% - 50px);
    }
  }
  .head {
    margin: 0 0 80px;
    max-width: 100%;
    @media (max-width: 500px) {
      margin: 0 0 40px;
    }
    &__subtitle {
      padding-right: 10px;
    }
  }
}

/*Procedure Section*/

.procedure {
  padding: 120px 0;
  background: $color-yellow;
  overflow: hidden;
  @media (max-width: 500px) {
    padding: 60px 0;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    @media (max-width: 1200px) {
      max-width: calc(100% - 50px);
    }
  }
  .head__container {
    margin-top: auto;
  }
  .head {
    margin: 0 0 80px;
    max-width: 100%;
    @media (max-width: 500px) {
      margin: 0 0 40px;
    }
    &__subtitle {
      padding-right: 10px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    font-family: $font-stack-tertiary;
    font-size: 35px;
    line-height: 42px;
    &-item {
      display: flex;
      padding: 35px 0;
      position: relative;
      @media (max-width: 1005px) {
        font-size: 30px;
        padding: 30px 0;
      }
      @media (max-width: 650px) {
        font-size: 20px;
        padding: 20px 0;
      }
      @media (max-width: 445px) {
        padding: 15px 0;
        line-height: 35px;
      }
      &:nth-child(1) {
        padding-left: 0;
        @media (max-width: 445px) {
          padding-left: 0;
        }
      }
      &:nth-child(2) {
        padding-left: 40%;
        @media (max-width: 445px) {
          padding-left: 0;
        }
      }
      &:nth-child(3) {
        padding-left: 25%;
        @media (max-width: 765px) {
          padding-left: 10%;
        }
        @media (max-width: 445px) {
          padding-left: 0;
        }
      }
      &:nth-child(4) {
        padding-left: 65%;
        @media (max-width: 900px) {
          padding-left: 50%;
        }
        @media (max-width: 445px) {
          padding-left: 0;
        }
      }
      &:nth-child(5) {
        padding-left: 40%;
        @media (max-width: 445px) {
          padding-left: 0;
        }
      }
      &:nth-child(6) {
        padding-left: 5%;
        @media (max-width: 445px) {
          padding-left: 0;
        }
      }
      &_number {
        font-family: $font-stack-secondary;
        font-size: 19px;
        line-height: 22px;
        margin: 0 10px auto 0;
        @media (max-width: 650px) {
          font-size: 15px;
          margin: 0 5px auto 0;
        }
        @media (max-width: 353px) {
          font-size: 12px;
        }
      }
      &:nth-child(1) {
        &::before {
          content: '';
          position: absolute;
          width: 110%;
          @media (max-width: 1350px) {
            width: 100%;
          }
          height: 1px;
          background: $primary-color;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &::after {
        content: '';
        position: absolute;
        width: 110%;
        @media (max-width: 1350px) {
          width: 100%;
        }
        height: 1px;
        background: $primary-color;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .head {
    margin: 0 0 60px;
  }
}

/*About Section*/

.about {
  padding: 120px 0;
  background: $bg-color-purple;
  overflow: hidden;
  @media (max-width: 500px) {
    padding: 60px 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 1250px) {
      max-width: calc(100% - 50px);
      flex-direction: column;
    }
  }
  &__image {
    &-container {
      display: flex;
      justify-content: center;
    }
  }
  &__comment {
    position: absolute;
    &:nth-child(1) {
      top: 35%;
      right: -2%;
      @media (max-width: 1250px) {
        right: 15%;
      }
      @media (max-width: 768px) {
        right: 5%;
        top: 40%;
      }
      @media (max-width: 550px) {
        right: 15%;
        top: 42%;
      }
      @media (max-width: 425px) {
        right: 15%;
        top: 55%;
      }
      @media (max-width: 350px) {
        right: 5%;
        top: 60%;
      }
    }
    &:nth-child(2) {
      right: 32%;
      bottom: 6%;
      @media (max-width: 1250px) {
        right: 50%;
      }
      @media (max-width: 768px) {
        right: 30%;
      }
      @media (max-width: 550px) {
        right: 2%;
        bottom: 1%;
      }
      @media (max-width: 350px) {
        right: 0%;
        left: 2%;
      }
    }
  }
  .head {
    margin-bottom: auto;
    @media (max-width: 1250px) {
      margin: 0 0 60px;
      max-width: 100%;
    }
    @media (max-width: 500px) {
      margin: 0 0 40px;
    }
    &__subtitle {
      padding-right: 10px;
    }
  }
}

/*Questions Section*/

.questions {
  padding: 120px 0;
  background: $bg-color;
  @media (max-width: 500px) {
    padding: 60px 0;
  }
  &__wrapper {
    @media (max-width: 1250px) {
      max-width: calc(100% - 50px);
    }
  }
  .head {
    margin: 0 0 55px;
    max-width: 100%;
    @media (max-width: 500px) {
      margin: 0 0 40px;
    }
    &__subtitle {
      padding-right: 10px;
    }
  }
}

/*Clients Section*/

.clients {
  padding: 120px 0;
  background: $bg-color-purple;
  @media (max-width: 500px) {
    padding: 60px 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    @media (max-width: 1250px) {
      max-width: calc(100% - 50px);
      flex-direction: column;
    }
  }
  &__logos {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 595px) {
      display: flex;
      flex-wrap: wrap;
    }
    margin-bottom: 30px;
  }
  &__logo-link {
    padding: 22px;
    border-top: 1px solid $light-color;
    border-left: 1px solid $light-color;
    transition: transform 0.8s ease, opacity 0.5s ease-in;
    @media (max-width: 595px) {
      border: none;
      flex: 1;
    }
    &:nth-child(-n + 3) {
      border-top: none;
    }
    &:first-child,
    &:nth-child(3n + 1) {
      border-left: none;
    }

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    & svg {
      transition: fill 0.3s ease-in;
    }
    &:hover {
      & svg {
        fill: $color-yellow;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 575px;
    @media (max-width: 1250px) {
      max-width: 100%;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 28px;
    color: $light-color;
  }
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    outline: none;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 1);
    &-container {
      width: 575px;
      height: 800px;
      @media (max-width: 1250px) {
        width: 100%;
        height: fit-content;
      }
      @media (max-width: 520px) {
        height: 265px;
      }
    }
  }
  .head {
    margin-bottom: 50px;
    max-width: 100%;
  }
}

/*Contacts Section*/

.contacts {
  padding: 120px 0 50px;
  background: $bg-color;
  @media (max-width: 500px) {
    padding: 60px 0 30px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    @media (max-width: 1250px) {
      max-width: calc(100% - 50px);
    }
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 70px;
    grid-row-gap: 30px;
    @media (max-width: 1250px) {
      max-width: calc(100% - 35px);
      margin: 0 auto;
    }
    @media (max-width: 900px) {
      max-width: calc(90%);
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 500px) {
      max-width: calc(95%);
      display: flex;
      flex-direction: column;
    }
  }
  &__contact {
    &:nth-child(1) {
      grid-area: 1 / 1 / 3 / 2;
    }
    &:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
    }
    &:nth-child(3) {
      grid-area: 2 / 2 / 3 / 3;
    }
  }
  .head {
    margin-bottom: 85px;
    @media (max-width: 1250px) {
      margin: 0 0 55px;
      max-width: 100%;
    }
    &__subtitle {
      padding-right: 10px;
    }
    & .head__description {
      margin: 0;
    }
  }
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-purple_other;
  padding: 40px 40px 45px;
  @media (max-width: 500px) {
    padding: 35px;
  }

  &__number {
    position: absolute;
    background-color: $color-number;
    font-family: $font-stack-secondary;
    font-size: 17px;
    line-height: 28px;
    padding: 15px 18px;
    top: 14px;
    left: -23px;
  }
  &__title {
    font-family: $font-stack-secondary;
    font-size: $font-size-secondary;
    line-height: $line-height-secondary;
    text-transform: uppercase;
    color: $light-color;
    margin-bottom: 10px;
    font-weight: normal;
  }
  &__text {
    color: $light-color;
    margin-bottom: 18px;
    &_hello {
      color: $light-color;
      margin-top: 15px;
      margin-bottom: 25px;
    }
    &_adress {
      color: $light-color;
      margin-bottom: 25px;
    }
  }
  &__link {
    font-size: 17px;
    line-height: 28px;
    color: $primary-color;
    width: fit-content;
    position: relative;
    transition: all 1s ease;
    &:hover {
      color: $light-color;
      &::after {
        background-color: $light-color;
        transform-origin: right;
        transform: translateX(-50%) scaleX(1);
      }
    }
    &::after {
      content: '';
      position: absolute;
      width: 110%;
      height: 1px;
      background-color: $primary-color;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) scaleX(0);
      transform-origin: left;
      transition: transform 0.7s ease, background-color 1s ease;
    }
  }
}

/*Links Section*/

.links {
  padding: 50px 0;
  @media (max-width: 500px) {
    padding: 30px 0;
  }
  background: $bg-color;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 700px) {
      max-width: calc(100% - 50px);
    }
  }
  &__title {
    font-family: $font-stack-secondary;
    font-size: $font-size-secondary;
    line-height: $line-height-secondary;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 15px;
  }
  &__dot {
    width: 6px;
    height: 6px;
    background: $color-purple_dark;
    &:last-child {
      display: none;
    }
    @media (max-width: 625px) {
      display: none;
    }
  }
  &__navigation {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 0 15px;
    font-size: 20px;
    line-height: 30px;
    @media (max-width: 625px) {
      flex-wrap: wrap;
      margin: 0;
      gap: 0;
    }
    &-item {
      position: relative;
      padding: 10px 15px;
      cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        width: 90%;
        height: 2px;
        background: $color-purple_dark;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%) translateY(50px);
        transition: transform 0.25s ease-in, opacity 0.25s ease-in;
      }
      &:hover {
        &::after {
          transform: translateX(-50%) translateY(35px);
          opacity: 1;
        }
      }
    }
  }
  &__contacts {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    line-height: 30px;
    @media (max-width: 625px) {
      flex-wrap: wrap;
      margin: 0;
      gap: 0;
    }
    &-item {
      position: relative;
      padding: 10px 15px;
      cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        width: 90%;
        height: 2px;
        background: $color-purple_dark;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%) translateY(50px);
        transition: transform 0.25s ease-in, opacity 0.25s ease-in;
      }
      &:hover {
        &::after {
          transform: translateX(-50%) translateY(35px);
          opacity: 1;
        }
      }
    }
  }
}

/*Clients Section*/

.copyright {
  padding: 30px 0;
  background: $bg-color_dark;
  @media (max-width: 500px) {
    padding: 10px 0;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 5px;

    color: $light-color;
  }
  &_colored {
    color: $color-purple_other;
  }
}
