.pagination {
  &__list {
    display: flex;
    border-bottom: 1px solid #abb9ca;
    margin-bottom: 20px;
    @media (max-width: 520px) {
      flex-direction: column;
      border: none;
    }
    &-item {
      position: relative;
      overflow: hidden;
      padding: 10px;
      flex-grow: 1;
      color: $color-questions-text;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      cursor: pointer;
      @media (max-width: 520px) {
        border-bottom: 1px solid #abb9ca;
      }
      &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background: #abb9ca;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.4s ease;
      }
      &.--active {
        &::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}

.faq {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
  }
  gap: 25px 20px;
  &__item {
    z-index: 20;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: fit-content;

    &.--show {
      .faq {
        &__icon-container {
          transform: rotate(0deg);
        }
        &__question {
          margin-bottom: 10px;
        }
        &__answer {
          height: 100px;

          @media (max-width: 1770px) {
            height: fit-content;
          }
          @media (max-width: 1024px) {
            height: 75px;
          }
          @media (max-width: 779px) {
            height: 100px;
          }
          @media (max-width: 600px) {
            height: 125px;
          }
          @media (max-width: 507px) {
            height: 150px;
          }
          @media (max-width: 453px) {
            height: 175px;
          }
          @media (max-width: 402px) {
            height: 200px;
          }
          @media (max-width: 364px) {
            height: 225px;
          }
          @media (max-width: 354px) {
            height: 250px;
          }
          @media (max-width: 323px) {
            height: fit-content;
          }
          opacity: 1;
          cursor: inherit;
        }
      }
    }
    &.--categoryShow {
      display: none;
    }
  }

  &__question {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
    transition: margin-bottom 0.5s ease;
    margin-bottom: 0px;
  }
  &__answer {
    z-index: 2;
    opacity: 0;
    height: 0;
    transition: opacity 0.1s ease, height 0.5s ease;
    text-align: justify;
    cursor: default;
    pointer-events: none;
  }
  &__icon {
    width: 15px;
    height: 15px;
    fill: $bg-color-purple;
    &-container {
      display: flex;
      transition: transform 0.3s ease;
      transform: rotate(180deg);
    }
  }
}
