.popup {
  display: flex;
  position: fixed;
  bottom: 3%;
  right: 3%;
  padding: 25px;
  width: fit-content;
  height: fit-content;
  z-index: 980;
  color: $light-color;
  background-color: $bg-color-purple;
  font-size: 25px;
  border-radius: 15px 15px 0 0;
  border: 1px solid $primary-color;
  opacity: 1;
  transition: opacity 0.5s ease;
  @media (max-width: 500px) {
    display: none;
  }
  &__button {
    position: absolute;
    padding: 5px;
    display: flex;
    font-size: 30px;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      color: $color-yellow;
    }
  }
  &__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: $light-color;
    border-top: 1px solid $primary-color;
    &-bar {
      transition: width 0.3s ease;
      width: 0%;
      height: 100%;
      background-color: $color-purple_dark;

      animation: close 5s ease-in forwards;
    }
  }
  &.--closed {
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
}

@keyframes close {
  to {
    width: 100%;
  }
}
