.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  @media (max-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  gap: 50px 60px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: scale(0.5);
  opacity: 0;
  transition: transform 1s ease-in, opacity 0.5s ease-in;
  &__image-container {
    margin-bottom: 30px;
    display: flex;
  }
  &__number {
    position: relative;
    margin-bottom: 20px;
    font-family: $font-stack-secondary;
    font-size: $font-size-secondary;
    line-height: $line-height-secondary;
    &::after {
      content: '';
      position: absolute;
      top: 11px;
      left: 10%;
      height: 2px;
      width: 120px;
      background: $color-purple_other;
    }
  }
  &__title {
    margin-bottom: 10px;
    font-family: $font-stack-tertiary;
    font-size: 26px;
    line-height: 36px;
  }
  &.--animated {
    transform: scale(1);
    opacity: 1;
  }
}
