/*Primary*/
$font-stack-primary: 'Roboto', sans-serif;
$font-size-primary: 15px;
$line-height-primary: 25px;
$font-weight-regular: 400;
$primary-color: #373c42;
$light-color: #ffffff;
$bg-color: #ffffff;
$bg-color_dark: #292e36;
$bg-color-purple: #8372f0;
$bg-color-blue: #ecf0f7;

/*Secondary*/
$font-stack-secondary: 'Unica One', cursive;
$font-size-secondary: 20px;
$line-height-secondary: 24px;

/*Tertiary*/
$font-stack-tertiary: 'Yeseva One', cursive;
$font-size-tertiary: 40px;
$line-height-tertiary: 46px;

/*Colors*/
$color-purple: #a294ff;
$color-purple_other: #9181ff;
$color-purple_dark: #7f8893;
$color-yellow: #f8fe91;
$color-number: #c4bcec;

$color-questions-text: #222222;
